body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #fafafa;
}

body{
  margin:0;
}

/* 整个左栏 */
.sidebar{
  width:72px;
  height:100vh;
  background:#fff;
  border-right:1px solid #e5e5e5;

  position:fixed;
  left:0;
  top:0;

  display:flex;
  flex-direction:column;
  align-items:center;
  padding-top:16px;
  box-sizing:border-box;
}

/* 每个图标 */
.nav{
  width:48px;
  height:48px;
  margin-bottom:8px;

  display:flex;
  justify-content:center;
  align-items:center;

  border-radius:50%;
  font-size:20px;
  cursor:pointer;
  transition:0.15s;
}

/* hover 灰色背景 */
.nav:hover{
  background:#f0f0f0;
}

/* Pinterest 红色 logo */
.logo{
  color:#E60023;
  font-weight:bold;
  font-size:22px;
}

/* 把下半部分推到底 */
.spacer{
  flex:1;
}

.header {
  position: fixed;
  top: 0;
  left: 72px;
  right: 0;

  height: 90px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.top-bar {
  display: flex;
  gap: 16px;
  width: 100%;
}

.search-container {
  flex: 1;
}

.search-box {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0 16px;
}

.search-icon {
  margin-right: 20px;
  font-size: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.arrow {
  font-size: 14px;
}

body{
  margin:0;
  background:#f5f5f5;
}

/* 内容区域 */
.content{
  margin-left:72px;
  margin-top:90px;  
  padding:20px;

  column-width:230px;   
  column-gap:16px;     /* 列间距 */
}

.card{
  position:relative;
  border-radius:16px;
  overflow:hidden;
  margin-bottom:16px; 
}

.card img{
  width:100%;
  display:block;
}

/* 三个点位置 */
.menu{
  position:absolute;
  bottom:10px;
  right:10px;
}

/* 隐藏默认箭头 */
summary{
  list-style:none;
  cursor:pointer;
  background:white;
  width:32px;
  height:32px;
  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;
}

/* 菜单 */
.menu-box{
  position:absolute;
  bottom:40px;
  right:0;

  background:white;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,0.15);

  width:150px;
  padding:8px 0;
}

/* 菜单项 */
.menu-box div{
  padding:8px 12px;
  cursor:pointer;
}

.menu-box div:hover{
  background:#f5f5f5;
}

